[Desktop Entry]
Version=1.0
Name=Fiji Is Just ImageJ
GenericName=Fiji Is Just ImageJ
X-GNOME-FullName=Fiji Is Just ImageJ
Comment=Scientific Image Analysis
Type=Application
Categories=Education;Science;ImageProcessing;
Exec=/data/Fiji-jdk7/fiji-linux64 %F
TryExec=/data/Fiji-jdk7/fiji-linux64
Terminal=false
StartupNotify=true
MimeType=image/*;
Icon=/data/Fiji-jdk7/images/icon.png
StartupWMClass=fiji-Main
